.update {
    width: 95%;
    height: 73vh;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.container {
    width: 50%;
    margin: 50px;
}

.container h1 {
    position: absolute;
    font-size: 42px;
    color: whitesmoke;
    transform: translate(0, -135%);
}

.container h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #2ECC71;
}

.container h1:nth-child(2) {
    color: #2ECC71;
    animation: animate 2s ease-in-out infinite;
}

.container h3 {
    color: #080a0c;
}

@keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.update-form {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

input, .communitypicker, .rolepicker {
    width: 80%;
    height: 35px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.communitypicker {
    width: 82%;
}

.rolepicker {
    width: 82%;
}

button {
    background-color: whitesmoke;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 30px;
    margin-top: 10px;
    font-size: 12px;
    color: #080a0c;
    cursor: pointer;
    z-index: 2;
}

button:hover {
    color: #415c77;
}

@media (max-width: 768px) {
    .container {
        margin-left: 30px; /* Remove left margin for mobile */
        width: 90%; /* Wider for mobile */
        margin-top: 50px; /* Reset top margin */
    }

    .container h1 {
        font-size: 30px; /* Reduce font size for mobile */
        margin: 0; /* Remove unwanted margins */
    }

    .communitypicker {
        width: 85%;
    }
    
    .rolepicker {
        width: 85%;
    }
}