<div class="update">
    <div class="container">
        <h1>Profile Update</h1>
        <h1>Profile Update</h1>
        <h3>Update your profile to stay connected!</h3>
    </div>

    <form class="update-form" (ngSubmit)="updateProfile()">
        <input type="text" placeholder="Name" [(ngModel)]="name" name="name" required>
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
        <input type="text" placeholder="Contact Number" [(ngModel)]="contactNumber" name="contactNumber" required>
        <input type="text" placeholder="Address" [(ngModel)]="address" name="address" required>

        <select name="community" class="communitypicker" [(ngModel)]="community" (change)="onCommunityChange($event)" required>
            <option value="" disabled>Select a community</option>
            <option *ngFor="let community of communityOptions" [value]="community._id">
                {{ community.name }}
            </option>
        </select>

        <select name="role" class="rolepicker" [(ngModel)]="role" (change)="onRoleChange($event)" required [disabled]="role === 'super admin'">
            <option value="" disabled>Select a role</option>
            <option *ngFor="let roleOption of roleOptions" [value]="roleOption">
                {{ roleOption }}
            </option>
        </select>
        
        <button type="submit">Update Profile</button>
    </form>
</div>
