<div class="schedule">
    <div class="background-shape shape1">
      <svg width="750" height="750" viewBox="0 0 200 200">
        <path d="M100,10 C140,20 180,70 150,130 C120,190 60,180 30,130 C10,80 40,30 100,10 Z" fill="#27AE60"/>
      </svg>
    </div>
    <div class="background-shape shape2">
      <svg width="700" height="700" viewBox="0 0 200 200">
        <path d="M100,20 C150,10 190,60 150,130 C100,190 40,180 30,120 C20,60 50,20 100,20 Z" fill="#28B463"/>
      </svg>        
    </div>
    <div class="background-shape shape3">
      <svg width="600" height="600" viewBox="0 0 200 200">
        <path d="M100,30 C130,0 170,50 150,130 C120,190 60,180 30,130 C20,80 40,40 100,30 Z" fill="#2ECC71"/>
      </svg>        
    </div>
  
    <div class="container">
      <h1>Schedule Your Waste Pickup</h1>
      <h1>Schedule Your Waste Pickup</h1>
      <h3>Select a date, time, and waste type for your pickup.</h3>
    </div>
  
    <div class="available-days">
        <p>Available Pickup Days:</p>
        <ul>
          <li *ngFor="let day of availableDays">{{ day }}</li>
        </ul>
    </div>

    <div class="schedule-form">
      <form>
        <p>Select a preferred date</p>
        <input type="date" class="datepicker" [attr.min]="minDate" (change)="onDateChange($event)" [ngClass]="{'invalid-date': !isValidDate(pickupDate)}">
  
        <p>Select time range for pickup</p>
        <select name="time" class="timepicker" [(ngModel)]="selectedTime" (change)="onTimeChange($event)" [disabled]="availableTimes.length === 0">
        <option *ngFor="let time of availableTimes" [value]="time.time">
            {{ time.time }}
        </option>
        </select>
  
        <p>Select waste type</p>
        <select name="waste" class="wastepicker" [(ngModel)]="selectedWaste" (change)="onWasteChange($event)">
          <option *ngFor="let waste of wasteOptions" [value]="waste">
            {{ waste }}
          </option>
        </select>
  
        <div *ngIf="selectedWaste === 'recyclable waste'">
          <p>Select recyclable types:</p>
          <div class="recyclable-options">
            <div *ngFor="let recyclable of recyclableOptions">
              <label>
                <input
                  type="checkbox"
                  [value]="recyclable"
                  (change)="onRecyclableChange(recyclable, $event)"
                />
                {{ recyclable }}
              </label>
            </div>
          </div>
        </div>            
  
        <div class="address">
          <p>Address:</p>
          <p>{{ address }}</p>
        </div>
  
        <button (click)="schedulePickup()">Schedule</button>
      </form>       
    </div>
  </div>
  